/* main.css */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #f4f4f4; /* Fondo opcional */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.login-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos del formulario */
  width: 300px; /* Ancho fijo del formulario */
}

.login-container input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Hace que los campos ocupen todo el ancho del formulario */
}

.login-container button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Botón a lo ancho del formulario */
}

.login-container button:hover {
  background-color: #0056b3;
}
